/* --- Page Setup --- */

* { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}


/* ------------------------------------------------------------ */


/* --- Video --- */

.video-content > video {
  width: 480px;
  aspect-ratio: 16 / 9;
}